---
- name: Docker  ----  Ubuntu  ----  Purge deprecated packages
  ansible.builtin.apt:
    pkg:
      - docker
      - docker-compose
      - docker-engine
      - docker.io
      - containerd
      - runc
    state: absent
    update_cache: true
  when: ansible_os_family == "Debian"
