---
- name: Packages Main  ----  Basics  ----  Install
  ansible.builtin.apt:
    pkg:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
      - software-properties-common
      - make
      - ncdu
      - htop
      - fastfetch
      - python3-pip # python package manager
      - vim
      - jq
      - auditd
    state: latest
    update_cache: true
