---
- name: Git  ----  Install package (Ubuntu/Debian)
  ansible.builtin.apt:
    pkg: &packages
      - git
    state: &state latest
    update_cache: &update true
  when: ansible_os_family == "Debian"

- name: Git  ----  Install package (Arch)
  community.general.pacman:
    name: *packages
    state: *state
    update_cache: *update
  when: ansible_os_family == "Archlinux"

- name: Git  ----  Copy git configuration
  ansible.builtin.copy:
    src: ../files/.gitconfig
    dest: "/home/{{ ansible_user }}/.gitconfig"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: u=rw,g=r,o=r
